<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css" />
    <title>UI Тесты</title>
</head>
<body>
    <h1>Проигрыватель сценариев тестирования</h1>

    <form action="/run-test">
        <button type="submit">Run Test</button>
    </form>

    <br>

    <form action="/record">
        <button type="submit">Start Recording</button>
    </form>

        <br>

    <form action="/codegen">
        <button type="submit" id="record-btn">Записать</button>
    </form>

</body>
</html>